{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<div class="card" style="text-align: center; width: 300px; margin-left: 39%;">
    <div class="card-header" id="text-start">
        Account
    </div>
    <div class="card-body">
        <h5 class="card-title">User Credentials</h5>
        <p class="fw-bold" style='margin: 0'>{{ username }}</p>
        <p class="fw-lighter text-muted" >USERNAME</p>
        <p class="fw-bold" style='margin: 0'>${{ cash }}</p>
        <p class="fw-lighter text-muted" >CASH</p>
        <p class="fw-bold" style='margin: 0'>${{ value }}</p>
        <p class="fw-lighter text-muted" >WALLET VALUE</p>
        <a href="/passwordchange" class="btn btn-primary">Change password</a>
    </div>
</div>

{% endblock %}
